.navigation {
  padding: 25px 0;

  @include desktop {
    padding: 5px 0;

    .navbar-light .navbar-nav .nav-item {
      margin-right: 0;
      line-height: 40px;
    }
  }

  .navbar-brand {
    font-size: 0;

    img {
      width: 100px;
      height: 24px;
    }
  }
}

.navbar-bg {
  background: $white;
}

.content-dark {
  display: none;
}

// for color
.navbar-light .navbar-nav .nav-item {
  .nav-link {
    color: $text-dark;
    font-size: 16px;
    text-transform: capitalize;

    &:hover {
      color: $text-dark;
    }
  }

  &.active {
    .nav-link {
      color: $text-dark;
    }
  }

  &:not(last-child) {
    margin-right: 22px;
  }
}

.navbar-toggler:focus {
  box-shadow: none;
}

@include desktop {}

// dropdown
.dropdown-menu {
  padding: 0.7rem;
  min-width: 12rem;
  transition: .3s;

  @media (min-width: 992px) {
    opacity: 0;
    visibility: hidden;
    display: block;
    border: 0;
    background-color: $white;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
    top: 40px;

  }

  .dropdown-item {
    border-radius: 0.5rem;
    color: $text-dark;

    @include desktop {
      text-align: center;
    }

    &.active,
    &:hover {
      background-color: transparent;
      color: $text-dark;
    }

    &:focus {
      background-color: transparent;
    }
  }
}


@media (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    display: block;
  }
}

.dropdown-toggle {
  display: inline-flex;

  &::after {
    font-family: $font_icon;
    content: '\f078';
    border: 0;
    position: relative;
    right: -8px;

  }
}

// for padding
.navbar-expand-lg .navbar-nav .nav-item {
  .nav-link {
    padding: 0 0.7rem;

    @include tablet {
      padding: 0.5rem;
    }
  }
}

/* search */
.search-btn {
  border: 0;
  background: transparent;
}

.search-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 2;
  visibility: hidden;
  transition: 0.2s ease;
  opacity: 0;

  &.open {
    visibility: visible;
    opacity: 1;
  }
}

.search-box {
  height: 100%;
  width: 100%;
  border: 0;
  background: $white;
  font-size: 1.5rem;
  padding: 0;
  border: 1px solid $border-color;
  border-radius: 0.6rem;
  padding-right: 1rem !important;
}

.search-close {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  background: transparent;
  page-break-after: 10px;
  font-size: 1rem;
}

// switch

.switch {
  cursor: pointer;
  margin: 0 18px 24px;

  #dn,
  #switch {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0;
    visibility: hidden;
  }

  .checkmark {
    position: relative;
    width: 100%;
    height: 100%;

    svg {
      position: absolute;
      top: 4px;
      left: 0;
      width: 18px !important;
      height: 18px !important;
    }
  }

}



// select-language
.select-language {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, $text-dark 50%), linear-gradient(135deg, $text-dark 50%, transparent 50%), linear-gradient(to right, transparent, transparent);
  background-position: calc(100% - 20px)calc(1em + 2px), calc(100% - 15px)calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 8px 36px 0 10px;
  margin-top: 0 !important;
}


// dark
.dark {

  .navbar-light .navbar-nav .nav-item.active .nav-link,
  .navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: $dark-text-dark;
  }

  .navbar-bg{
    background-color: lighten($dark-body-bg, 3%) ;
  }


  .navbar-light .navbar-nav .nav-item .nav-link {
    color: $dark-text-light;
  }

  .search i,
  .select-language {
    color: $dark-text-dark;
  }

  .select-language {
    background-image: linear-gradient(45deg, transparent 50%, $light 50%), linear-gradient(135deg, $light 50%, transparent 50%), linear-gradient(to right, transparent, transparent);
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .dropdown-menu {
    background-color: $black;

    .dropdown-item {
      color: $dark-text-light;

      &.active {
        margin-bottom: 10px;
      }

      &.active,
      &:hover {
        background-color: $dark-body-bg;
        color: $dark-text-dark;
      }

      &:focus {
        background-color: darken($text-dark, 12.94);
      }
    }
  }
}
