.navigation {
  @include desktop {
    padding: 10px 0;
    .navbar-nav {
      padding: 8px 0;
    }
    .navbar-light .navbar-nav .nav-item {
      margin-right: 0;
      line-height: 40px;
    }
  }
}

.navbar-bg {
  background: $white;
}

// for color
.navbar-light .navbar-nav .nav-item {
  .nav-link {
    color: rgba($text-dark, 0.7);
    font-size: 16px;
    text-transform: capitalize;
  }
  &:hover .nav-link {
    color: $text-dark;
  }

  &.active {
    .nav-link {
      color: $color-primary;
    }
  }
  &:not(last-child) {
    margin-right: 22px;
  }
}

.navbar-toggler:focus {
  box-shadow: none;
}

// dropdown
.dropdown-menu {
  padding: 0.7rem;
  min-width: 12rem;
  transition: 0.3s;
  margin-left: -1rem;
  background-color: $color-secondary;
  @media (min-width: 992px) {
    opacity: 0;
    visibility: hidden;
    display: block;
    border: 0;
    background-color: $white;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    top: 80%;
    border-radius: 8px;
    &[data-bs-popper] {
      top: 80%;
      left: 0;
      margin-top: 0;
    }
  }
  @include desktop {
    border: 0;
    margin-left: 0 !important;
  }
  .dropdown-item {
    border-radius: 4px;
    color: rgba($text-dark, 0.7);
    @include desktop {
      text-align: center;
      padding: 0;
      line-height: 2;
    }
    &.active,
    &:hover {
      background-color: transparent;
      color: $text-dark;
    }
    &:focus {
      background-color: transparent;
    }
    &.active {
      color: $color-primary;
    }
  }
}

@media (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    display: block;
  }
}
.dropdown-toggle {
  display: inline-flex;
  &::after {
    font-size: 13px;
    font-family: $font-icon;
    content: "\f107";
    font-weight: 900;
    border: 0;
    position: relative;
    right: -4px;
    top: 4px;
    @include desktop {
      top: 0;
    }
  }
}

// for padding
.navbar-expand-lg .navbar-nav .nav-item {
  .nav-link {
    padding: 1.8rem 0.5rem;
    @include desktop {
      padding: 00 0.5rem;
    }
  }
}

/* search */
.search-btn {
  border: 0;
  background: transparent;
}
.search-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 2;
  visibility: hidden;
  transition: 0.2s ease;
  opacity: 0;

  &.open {
    visibility: visible;
    opacity: 1;
  }
}

.search-box {
  height: 100%;
  width: 100%;
  border: 0;
  font-size: 1.2rem;
  padding: 0;
  border-radius: 0.6rem;
  appearance: none;
}

.search-close {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  background: transparent;
  page-break-after: 10px;
  font-size: 1.2rem;
  z-index: 2;
}

// switch
.switch {
  cursor: pointer;
  margin: 0 18px 24px;

  #dn,
  #switch {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0;
    visibility: hidden;
  }

  .checkmark {
    position: relative;
    width: 100%;
    height: 100%;

    svg {
      position: absolute;
      top: 4px;
      left: 0;
      width: 18px !important;
      height: 18px !important;
    }
  }
}

// select-language
.select-language {
  line-height: 1.5em;
  padding: 5px;
  text-transform: uppercase;
}

// dark
.dark {
  .navbar-brand {
    color: $white;
  }
  .navbar-light .navbar-nav .nav-item.active .nav-link,
  .navbar-light .navbar-nav .nav-item:hover .nav-link {
    color: $dark-text-dark;
  }

  .search-box {
    color: $white;
  }

  .navbar-light .navbar-nav .nav-item .nav-link {
    color: $dark-text-light;
  }

  .search svg,
  .select-language {
    color: $dark-text-dark;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .dropdown-menu {
    background-color: #152a38;

    .dropdown-item {
      color: $dark-text-light;

      &.active {
        margin-bottom: 10px;
      }

      &.active,
      &:hover {
        color: $dark-text-dark;
      }
    }
  }
}
