/* Button style */
.btn {
  font-size: 1rem;
  font-family: $font-primary;
  text-transform: capitalize;
  padding: 0.8em 1.5em;
  border: 1px solid;
  position: relative;
  z-index: 1;
  transition: 0.2s ease;
  overflow: hidden;

  &-sm {
    font-size: 90% !important;
    padding: 0.6em 1.3em;
  }
  @include mobile {
    padding: 0.7em 1.4em;
  }

  &::before {
    position: absolute;
    left: -15px;
    width: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: -1;
    top: 0;
    content: "";
    border-color: transparent;
    transition: 0.3s;
    transform: skewX(25deg);
  }

  &:hover:before {
    width: 120%;
  }

  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    outline: 0;
    box-shadow: none !important;
  }
}

.btn-primary {
  background: $color-primary;
  color: $white;
  border-color: $color-primary;

  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    border-color: rgba(0, 0, 0, 0.2) !important;
    background-color: $color-primary !important;
  }
}

.btn-outline-primary {
  background: transparent;
  color: $color-primary;
  border-color: rgba($color-primary, 0.2) !important;
  font-size: 1rem;

  &::before {
    background: $color-primary;
  }

  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    background: transparent !important;
    color: $white;
  }
}
